<!DOCTYPE html>
<html>
    <head>
        <title>Info Page</title>
    </head>
    <body>
        <h1>Info Page</h1>
        <h2>This is the info page: here's some information about me!</h2>
        <p>One time in 1977, I was driving from my home town of Chattanooga all the way to Los Angeles. I had apirations, goals, dreams; I was going to be a star!</p>
        <p>But on my way, a ways down Route 66 Just outside of Arizona, I ran over a man in the street. It was late, probably after midnight, I was tired, it was dark. Why was he in the street anyways?</p>
        <p>I've never told anyone this, and I'll do my best to take it to my grave, considering that it's highly unlikely that anyone ever reads this.</p>
    </body>
</html>